version: "3.9"

services:
  mongo:
    image: mongo:5
    hostname: mongo
    # command: --replSet hb0 --bind_ip localhost,mongo
    command: --replSet hb0 --bind_ip_all
    ports:
      - "27017:27017"
    volumes:
      - ./data/mongo:/data/db

  redis:
    image: redis:6-alpine
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data

  scheduler:
    build: .
    image: ${HONEYBEE_IMAGE}
    command: honeybee scheduler
    environment:
      REDIS_URI: redis://redis
      JOB_CONCURRENCY: ${JOB_CONCURRENCY}
      HOLODEX_MAX_UPCOMING_HOURS: ${HOLODEX_MAX_UPCOMING_HOURS}
      HOLODEX_API_KEY: ${HOLODEX_API_KEY}
      CACHE_PATH: /cache
    volumes:
      - ${DATA_DIR:-./data}/cache:/cache
      - "./lib:/app/lib"
      # - "./node_modules:/app/node_modules"
    depends_on:
      - redis

  worker:
    image: ${HONEYBEE_IMAGE}
    environment:
      REDIS_URI: redis://redis
      MONGO_URI: mongodb://mongo/honeybee
      JOB_CONCURRENCY: ${JOB_CONCURRENCY}
      DEBUG: masterchat
    volumes:
      - "./lib:/app/lib"
      # - "./node_modules:/app/node_modules"
    depends_on:
      - redis
      - mongo

  # Kafka-compatible data streaming pipeline
  redpanda:
    image: docker.vectorized.io/vectorized/redpanda:latest
    command: redpanda start --smp '1' --reserve-memory 4000M --overprovisioned --node-id '0' --kafka-addr PLAINTEXT://0.0.0.0:9092,OUTSIDE://0.0.0.0:9093 --advertise-kafka-addr PLAINTEXT://redpanda:9092,OUTSIDE://localhost:9093
    ports:
      - "9093:9093"

  # MongoDB Kafka Connector
  connect:
    image: ${KAFKA_CONNECT_IMAGE}
    build: kafka-connect
    hostname: connect
    depends_on:
      - mongo
      - redpanda
    environment:
      MONGO_URI: "mongodb://mongo:27017/?replicaSet=hb0"
      MONGO_DATABASE: "honeybee"
      KAFKA_URI: "redpanda:9092"
      KAFKA_TOPIC: "chats"
      CONN_CHANNEL_CAPACITY: "1200"
